.icon {
    fill: var(--yellow);
    height: 1em;
    transition: all 150ms ease-in-out;
    opacity: 0.5;
}

.icon:hover {
    opacity: 0.9;
}

.pen:hover {
    fill: var(--green);
}

.remove:hover {
    fill: var(--red)
}

.check {
    fill: var(--green);
}

.check:hover {
    fill: var(--black)
}

.toggler {
    cursor: pointer;
}

.empty-circle {
    fill: #ddd;
}

.empty-circle:hover {
    fill: var(--green);
}

.checked-circle:hover {
    fill: var(--red);
}

.arrow {
    height: 0.8em;
    opacity: 1;
}

.down {
    transform: scaleY(-1);
}
