@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    --black: #000;
    --white: #fff;
    --grey: #aaa;
    --shadow: rgba(0, 0, 0, 0.3);
    --yellow: #fcbf00;
    --red: #d12b2b;
    --green: #05b84f;

    color: #333;

    font-size: 20px;
    font-family: "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    box-sizing: border-box;
    /* padding: 20vh 0; */
}

.grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 26em) 1fr;
    grid-template-rows: 5em 1fr auto;
    grid-column-gap: 1em;
    min-height: 100vh;
    background-image: linear-gradient(155deg, rgba(0, 0, 0, 0), rgba(50, 50, 50, 0.05));
}

p {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: 1em;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    transition: all 150ms ease-in-out;
}

::selection {
    background-color: var(--yellow);
}

button:focus {
    outline: none;
}

input[type="text"] {
    font-size: 1em;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;

    display: inline-block;
    box-sizing: border-box;

    transition: all 150ms ease-in-out;
}

input[type="text"]::placeholder {
    font-style: italic;
    color: var(--grey);
}

input[type="text"]:focus {
    outline: none;
    border-bottom-color: var(--yellow);
}
